/********** TAGS **********/

body {
  background-color: azure;
  color: black;
  font-family: "Inter", "system-ui", "-apple-system", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 100;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; */
  text-align: center;
}

/********** CLASSES **********/

.btn {
  background: #425062;
  border: none;
  border-color: #3c4857;
  border-width: 1px 1px 0px 0;
  border-style: solid;
  color: #fff;
  font-size: 1.3rem;
  height: 4rem;
}

.calculator {
  background: #3a4655;
  box-shadow: 0 8px 50px -7px black;
  margin: auto;
  width: 18rem;
}

.display {
  padding: 1rem;
}

.operator {
  color: #ffbc56;
}

.ac {
  color: #ff7665;
}

.row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
}

.theme-dark {
  background-color: #283149;
  color: #dbedf3;
}

input.theme-dark {
  background: #3a4655;
}

/********** IDs **********/

#btn-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  height: 70%;
  justify-content: center;
  margin: auto;
  text-align: center;
}

#result {
  background-color: #3a4655;
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0 0;
  text-align: right;
  width: 90%;
}

#theme-button {
  border: none;
  border-radius: 20px;
  font-size: x-large;
  margin: 2rem auto 2rem;
  padding: 5px 0 8px;
  width: 4rem;
}

#typed {
  background-color: #3a4655;
  border: none;
  color: #727b86;
  font-size: 1.5rem;
  padding: 1rem 0 0;
  text-align: right;
  width: 90%;
}